@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 공통사항 */
body {overflow-x: hidden; font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; line-height: 1.6; color: #000; }
#wrap {width: 100%; background: black;}
*{margin: 0; padding: 0;}

ul{list-style: none;}
h1{padding: 30px 0 20px 100px; color: rgb(50,30,10);}
h1 a {text-decoration: none; color: rgb(200, 10, 45);}
.login{translate: 1500px; display: flex; font-size: 1rem; font-weight: 600;}
.login li{transform: translate(0, -3px); }
.login a {text-decoration: none; color: #fdf7f7; padding: 0 10px;}

#menu{
    width: 100%;
    display: block;
    padding-top: 10px;
}
#menu ul{
    display: flex;
    justify-content: space-around;
    background-color: rgba(42, 53, 169, 0.5);
    list-style: none;
    margin: 0;
}
#menu ul li{
    background-color: transparent;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 20px;
}

#menu ul li a{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


#main div{
    width: 1200px;
    height: 1080px;
    margin: 50px auto;
    background: url("../img/main.png") no-repeat center;
}



#footer {text-align: center; padding: 100px 0 50px 0; font-size: 1.2rem; color: #8f8a8a;}
