@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 공통사항 */
body { overflow-x: hidden; font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; line-height: 1.6; color: #ffffff; background-color: black;  }
#wrap {width: 100%; background: black;}
*{margin: 0; padding: 0;}

.max-height-container {
    max-height: 1450px; /* Adjust as needed */
    overflow: hidden; /* Optional: to hide content that exceeds the height */
}

ul{list-style: none;}

#header {max-height: 360px; background-color: black;}
.inner {transform: translate(0, -200px); }

h1 {text-align: center}
h1 a img {width: 400px; height: 400px;}
.login{translate: 1500px; display: flex; font-size: 1rem; font-weight: 600;}
.login li{transform: translate(0, -3px); }
.login a {text-decoration: none; color: white; padding: 0 10px; font-weight: 600}

#header {position: relative; background-color: black;}

#menu{
    width: 100%;
    display: block;
    padding-top: 10px;
}
#menu ul{
    display: flex;
    justify-content: space-around;
    background-color: rgba(43, 49, 115, 0.5);
    list-style: none;
    margin: 0;
}
#menu ul li{
    background-color: transparent;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 20px;
}

#menu ul li a{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.image {position: absolute; z-index: 999;}
.image ul {display: flex;}
.image ul img {width: 200px; }

.img1 {
    animation: snow 1.5s ;
    animation-fill-mode: forwards;
}

.img2 {
    animation: snow2 1.5s ;
    animation-fill-mode: forwards;
}





#main div{
    width: 1200px;
    height: 800px;
    margin: 50px auto;
    background: url("../img/main.png") no-repeat center ;
    -webkit-animation: flash 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0% {
        opacity: .2;
    }
    60% {
        opacity: .6;
    }
    100% {
        opacity: 1;
    }
}


#footer {
    text-align: right; padding: 100px 50px 50px 0; font-size: 1rem; color: #8f8a8a;
    background: url("../img/mainfooter.png") no-repeat center black;
    background-size: 500px;
}
